body {
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;

  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
}

menu {
  display: flex;
  gap: 20px;
  color: white;
  margin-top: -40px;
  margin-left: -40px;

  .text-menu {
    align-self: top;
    margin-right: -40px;
  }

  .links {
    font-family: "JetBrains Mono", monospace;
    margin-top: 40px;
  }

  .links > a {
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
}

.glitch-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.glitch-text {
  transition: none;
}
